<div class="conteiner">
    <img src="https://st2.depositphotos.com/8299646/11075/v/600/depositphotos_110753186-stock-illustration-online-shop-online-store-logo.jpg" alt="">

    <h6 class="conteiner-title">Доставка</h6>
    <p>Доставляємо щодня з 11:00 - 23:00</p>
    <p>В межах міста здійснюємо безкоштовну доставку при замовленні на суму від 2000 грн,
        <br/>
        за межами міста - від 3500 грн
        <br/>
        (у віддалені населені пункти доставка обумовлюється окремо)</p>
        <p>Орієнтовний час доставки - від 29 до 59 хв</p>
</div>


