.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 70px;
    }

    &-title {
        margin-top: 20px;
        text-align: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    width: 250px;
    margin: 20px;
    background: rgb(236, 236, 236);
    transition: transform 0.3s ease;

    &-name {
        margin: 10px;
    }

    &-img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }

    &-description,
    &-price {
        margin: 5px;
    }

    &-button {
        margin: 5px auto;
        width: 150px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: black;
      }
}
