<div class="container">
  <h4 class="container-title">Товари для авто</h4>
  <div class="container-card">
    <div *ngFor="let good of goods" class="card">
      <h6 class="card-name">{{ good.name }}</h6>
      <img
        [src]="good.url"
        [alt]="good.name"
        class="card-img">
      <p class="card-description">{{ good.description }}</p>
      <p class="card-price">Ціна: {{ good.price }} ₴</p>
      <button
        class="card-button btn btn-secondary"
        (click)="addToCart(good)">
        Купити
      </button>
    </div>
  </div>
</div>
